body {
      background: #112 url(//images.weserv.nl/?url=i.imgur.com/6QJjYMe.jpg)  center no-repeat;
  background-size:cover;
}

.scores-container {
    display: flex;
    justify-content: space-around;
}


.score {
    font-size:20px;
}

