/* body {
    background: #112 url(//images.weserv.nl/?url=i.imgur.com/6QJjYMe.jpg)  center no-repeat;
    background-size:cover;
    height: 100vh;
} */

.scores-container {
    display: flex;
    justify-content: space-around;
}


.score {
    font-size:30px;
    border-radius: 6px;
    padding: 0.8rem;
}

.quiz-container {
    width: 800px;
    margin: 0 auto;
    margin-top: 1rem;
}
