.intro-container {
    width: 100vw;
    height: 100vh;
    background-image: url("./background.jpeg");
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

.host {
    position: absolute;
    bottom: 5rem;
}

.speech-bubble-container {
    position: absolute;
    left: 40vw;
    bottom: 40rem;
}

.speech-bubble {
    width: 20vw;
}

.intro-button {
    width: 20rem;
    position: absolute;
    bottom: 8rem;
    left: 38vw;
}