.intro-container {
    width: 110vw;
    height: 110vh;
    background-image: url("./background.jpeg");
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.host {
    position: absolute;
    bottom: 40px;
}

.speech-bubble-container {
    position: absolute;
    left: 43vw;
    top: 3vh;
}

.speech-bubble {
    width: 20vw;
}

.speech-text{
    padding: 0;
    margin: 0;
    position: absolute;
    width: 15vw;
    text-align: center;
    font-size:3rem;
    top: 9vh;
    left: 1vw;
}

.intro-button {
    position: absolute;
    bottom: 20vh;
}