button {
    margin: 1rem;
    padding: 1rem;
    font-size: 1.2rem;
}

.answers-container {
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    margin-top: 4.5rem;
}

.answers-container > button {
    flex: 50%; 
    
}
.correct {
    background-color: green;
}